{% extends "dataVIZ/layout.html" %}
{% load staticfiles %}
{%block content%}

<div class="jumbotron">
  <h1>Logit<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></h1>
  <p>Logistic Regression is an appropriate analysis to conduct when the dependent variable is binary, and can be used to describe data and explain the relationship between these dependent variables.</p>
    
  <p>
    Use this tool to predict a <strong>possible outcome of admission</strong> based on two scores (x<sub>1</sub>,x<sub>2</sub>)
  </p>
</div>

</div>
<div class="container" style=" height: 600px; margin: 0 auto">
   
        <img class="col-md-8 col-md-offset-2" src="{% static 'images/home.png' %}" class="img-responsive"/>

</div>

{%endblock%}

